body{
font-family : Arial, Helvetica, sans-serif;
padding : 100px 0;
margin : 50px;
text-align : center;
	
	
}


span {

border-bottom : 2px solid black;
padding : 10px;
	
	
}

button{

margin : 20px 10px;
background : white;
color : black;
border : 1px sold black;
border-radius : 5px;
font-weight : bold;
cursor : pointer;
padding : 15px 18px;

			
	
}
.container{


padding : 50px;
max-width : 50%;
margin : auto;	
border : 3px solid lightgrey;
border-radius : 20px;
	
	
}